<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>CBGTUR 2019 - 39º Congresso Brasileiro de Guias de Turismo</title>
	<link rel="showtcut icon" href="/img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/foundation.min.css" />
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" href="css/owl.theme.default.css">

	<meta property="og:title" content="39º CGBTUR - Salvador">
	<meta property="og:type" content="website">
	<meta property="og:image" content="img/logo.png">
	<meta property="image" content="img/logo.png">
	<meta property="og:description" content="O Congresso Brasileiro de Guias de Turismo CBGTUR – é um evento anual promovido pela Federação Nacional dos Guias de Turismo do Brasil – FENAGTUR e organizado pelos Sindicatos Estaduais. De caráter regional, busca unir a discussão de  temas de relevância para a categoria e a divulgação do potencial turístico da localidade sediante.">
	<meta name="description" content="O Congresso Brasileiro de Guias de Turismo CBGTUR – é um evento anual promovido pela Federação Nacional dos Guias de Turismo do Brasil – FENAGTUR e organizado pelos Sindicatos Estaduais. De caráter regional, busca unir a discussão de  temas de relevância para a categoria e a divulgação do potencial turístico da localidade sediante.">
	<meta name="keywords" content="Turismo,CBGTUR2019,CBGTUR,Congresso,Salvador">
	<meta name="author" content="Franklin Silva">
</head>
<body>
	<section  class="stunning-first-section">
		
		<header class="vertical-full--header">
			<img class="" src="img/logo.png" alt="logo">
		</header>
		<!--
		<div class="panel panel--default panel--id-9822"> 
			<div class="panel__header"> 
				<h4 class="panel__header__title"> CBGTUR2019 </h4> 
			</div> 
			<div class="panel__body"> 
				<p style="text-align: center;">9 - 10&nbsp;October 2019<br> Tobacco Dock, London</p> 
				<p style="text-align: center;"><a class="ck-button-one" href="https://www.festivalofmarketing.com/get-in-touch" target="_self" title="https://www.festivalofmarketing.com/get-in-touch">REGISTER YOUR INTEREST</a></p> 
			</div> 
		</div>-->

		<div class="owl-carousel owl-theme">
			<div class="item image-1">
				<h1>Guias de Turismo - Valorizando Etnias Brasileiras</h1>
			</div>
			<div class="item image-2">
				<h1> 22 a 26 de maio de 2019 </h1>			
				<h2>Pestana Convento do Carmo - Salvador/BA</h2>
			</div>
		</div>

		<span onclick="" class="transparent-button">
			Garanta sua Vaga!!
		</span>

		<!--<header class="transparency-header">
			
			<div class="row align-center align-middle">
				<div class="collumns small-8 medium-2">
					<img class="" src="img/logo.png" alt="logo">
				</div>
			</div>
		</header>-->
	</section>
	
	<section class="basic-section">
		<div class="row">
			<h3 class="collumns small-12 title-section">Sobre o Evento</h3>
			<p class="body-paragraph">		
				O Congresso Brasileiro de Guias de Turismo CBGTUR – é um evento anual promovido pela Federação Nacional dos Guias de Turismo do Brasil – FENAGTUR e organizado pelos Sindicatos Estaduais. De caráter regional, busca unir a discussão de  temas de relevância para a categoria e a divulgação do potencial turístico da localidade sediante.
			</p>
	
			<p class="body-paragraph">
				A 39ª edição acontecerá na cidade do Salvador- Bahia, de 22 a 26 de maio de 2019, e será organizado pelo Sindicato dos Guias de Turismo do Estado da Bahia – SINGTUR-BA.
			</p>
		</div>
	</section>
	
	<section class="basic-section">
		<div class="row">
			<h2 class="collumns small-12 title-section">Garanta sua Participação</h2>
		
			<div class="collumns medium-6">
				<p class="body-paragraph">
					O CBGTUR 2019 é divido em vários momentos de mostras e visitas técnicas e pode ser comprado por Estudantes, sindicalizados e não-sindicalizados.
				</p>
	
				<p class="body-paragraph">
					Escolha os seu(s) ingresso(s) abaixo e nos vemos lá!
				</p>

				<div class="observation-card">
					<p class="body-paragraph">
						Fique atento para as datas de virada de lote!! Escolha os seu(s) ingresso(s) abaixo e nos vemos lá!
					</p>

					<ul style="margin: 0; list-style: none;" class="body-paragraph">
						<li>- O segundo lote começa a ser vendido dia <b>01/01/2019</b></li>
						<li>- O terceiro lote começa a ser vendido dia <b>01/03/2019</b></li>
						<li>- O quarto lote começa a ser vendido dia <b>01/05/2019</b></li>
					</ul>
				</div>
				
				<div onclick="toogleModal()" class="full-calendar-box pointer-object">					
					<span><i class="animated fas fa-award"></i> Veja a programação Completa</span>
				</div>

				<img class="" src="img/banner.jpg">
			</div>



			<div id="sympla" class="sympla-container collumns medium-6">
					<div id="sympla-widget-368859" height="auto"></div>
					<script src="https://www.sympla.com.br/js/sympla.widget-pt.js/368859"></script>
			</div>	
		</div>
	</section>

	<!--<section class="mission-row row">
		<div class="mission-objective collumns small-12">
			<h2 class="title-section yellow">Palestrantes confirmados</h2>
			<div class="row speakers-list--container">
				<div class="collumns small-12 medium-6 large-4">
					<img class="speaker-photo" src="img/speaker.jpg">
					<h3 class="speaker-title">Fernando Silva</h3>
					<p class="speaker-bio">
						Lorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolor
					</p>
				</div>

				<div class="collumns small-12 medium-6 large-4">
					<img class="speaker-photo" src="img/speaker.jpg">
					<h3 class="speaker-title">Fernando Silva</h3>
					<p class="speaker-bio">
						Lorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolor
					</p>
				</div>

				<div class="collumns small-12 medium-6 large-4">
					<img class="speaker-photo" src="img/speaker.jpg">
					<h3 class="speaker-title">Fernando Silva</h3>
					<p class="speaker-bio">
						Lorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolor
					</p>
				</div>
			</div>
		</div>
	</section>-->

	<section class="basic-section">
		<h3 style="margin-top: 5rem" class="title-section">Visitas técnicas</h3>

		<div id="visitas" class="row no-margin" style="max-width: none">
			<div onclick="populateModalVisitas(0)" onmouseover="selectItemEnter(1)" onmouseleave="selectItemLeave(1)" class="column small-12 medium-4 large-4 visitas visita-1">
				<div class="overlay-1 overlay-container--visitas">
					<p class="overlay-text--visitas">Morro de São Paulo</p>
				</div>
			</div>
			
			<div onclick="populateModalVisitas(1)" onmouseover="selectItemEnter(2)" onmouseleave="selectItemLeave(2)" class="column small-12 medium-4 large-4 visitas visita-2">
				<div class="overlay-2 overlay-container--visitas">
					<p class="overlay-text--visitas">Ilhas dos Frades e Itaparica</p>
				</div>
			</div>
			
			<div onclick="populateModalVisitas(2)" onmouseover="selectItemEnter(3)" onmouseleave="selectItemLeave(3)" class="column small-12 medium-4 large-4 visitas visita-3">
				<div class="overlay-3 overlay-container--visitas">
					<p class="overlay-text--visitas">Praia do Forte</p>
				</div>
			</div>

			<div onclick="populateModalVisitas(3)" onmouseover="selectItemEnter(4)" onmouseleave="selectItemLeave(4)" class="column small-12 medium-4 large-4 visitas visita-4">
				<div class="overlay-4 overlay-container--visitas">
					<p class="overlay-text--visitas">Mangue Seco</p>
				</div>
			</div>

			<div onclick="populateModalVisitas(4)" onmouseover="selectItemEnter(5)" onmouseleave="selectItemLeave(5)" class="column small-12 medium-4 large-4 visitas visita-5">
				<div class="overlay-5 overlay-container--visitas">
					<p class="overlay-text--visitas">Cidades Históricas</p>
				</div>
			</div>

			<div onclick="populateModalVisitas(5)" onmouseover="selectItemEnter(6)" onmouseleave="selectItemLeave(6)" class="column small-12 medium-4 large-4 visitas visita-6">
				<div class="overlay-6 overlay-container--visitas">
					<p class="overlay-text--visitas">Turismo de Experiência em Salvador</p>
				</div>
			</div>
		</div>

	</section>

	<section class="basic-section">
		<div class="row" style="justify-content: center">
			<a href="./ParceriaLatam.html">
				<img class="hide-for-small-only" src="img/latamsmall.png">
				<img class="show-for-small-only" src="img/latamlarge.png">
			</a>
		</div>
	</section>
	<section class="basic-section hotels-section" style="padding-top:0">
		<div class="row">
			<h3 class="collumns small-12 title-section">Confira nossos Hotéis Parceiros</h3>
			<div class="collumns small-12 medium-6 special-hotel">
				<div class="row no-margin">
					<div class="collumns small-12 hotels-section--item">
						<a onclick="populateModal(0)">
							<div class="pestana hotel--img"></div>
							<span class="hotels-section--title">Pestana Convento do Carmo (Hotel sediante)</span>						
						</a>
					</div>
				</div>
			</div>
			<div class="collumns small-12 medium-6">
				<div class="row no-margin">

					<div class="collumns small-6 medium-6 hotels-section--item">
						<div class="hotel-container">
							<a onclick="populateModal(1)">
								<div class="monte-pascoal hotel--img"></div>
								<span class="hotels-section--title">Hotel Monte Pascoal</span>
							</a>
						</div>
					</div>
					<div class="collumns small-6 medium-6 hotels-section--item">
							<div class="hotel-container">
								<a onclick="populateModal(2)">						
									<div class="sol-express hotel--img"></div>
									<span class="hotels-section--title">Hotel Sol Express</span>
								</a>
							</div>
					</div>
					<div class="collumns small-6 medium-6 hotels-section--item">
						<div class="hotel-container">
							<a  onclick="populateModal(3)">						
								<div class="sol-express hotel--img"></div>
								<span class="hotels-section--title">Sol Victoria Marina</span>
							</a>
						</div>
					</div>
					<div class="collumns small-6 medium-6 hotels-section--item">
						<div class="hotel-container">
							<a onclick="populateModal(4)">						
								<div class="grande-hotel hotel--img"></div>
								<span class="hotels-section--title">Grande Hotel Barra</span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="collumns small-6 medium-6 large-3 hotels-section--item">
				<div class="hotel-container">
					<a onclick="populateModal(5)">						
						<div class="colonial-chile hotel--img"></div>
						<span class="hotels-section--title">Pousada Colonial Chile</span>
					</a>
				</div>
			</div>
			<div class="collumns small-6 medium-6 large-3 hotels-section--item">
				<div class="hotel-container">
					<a onclick="populateModal(6)">						
						<div class="hospeda-salvador hotel--img"></div>
						<span class="hotels-section--title">Hostel Hospeda Salvador</span>
					</a>
				</div>
			</div>
			<div class="collumns small-6 medium-6 large-3 hotels-section--item">
				<div class="hotel-container">
					<a onclick="populateModal(7)">						
						<div class="suites-pelo hotel--img"></div>
						<span class="hotels-section--title">Pousada Suítes do Pelô</span>
					</a>
				</div>
			</div>
			<div class="collumns small-6 medium-6 large-3 hotels-section--item">
				<div class="hotel-container">
					<a onclick="populateModal(8)">						
						<div class="porto-barra hotel--img"></div>
						<span class="hotels-section--title">Hotel Porto da Barra</span>
					</a>
				</div>
			</div>
			<div class="collumns small-6 medium-6 large-3 hotels-section--item">
				<div class="hotel-container">
					<a onclick="populateModal(9)">						
						<div class="wish-bahia hotel--img"></div>
						<span class="hotels-section--title">Wish Hotel da Bahia</span>
					</a>
				</div>
			</div>
			
		</div>


<!--
		
		<div class="row">
			<h3 class="collumns small-12 title-section">Confira nossos Hotéis Parceiros</h3>
			<div class="collumns small-6 medium-4 large-3 hotels-section--item">
				<div class="pestana hotel--img"></div>
				<span class="hotels-section--title">Pestana Convento do Carmo (Hotel sediante)</span>
			</div>
			<div class="collumns small-6 medium-4 large-3 hotels-section--item">
				<div class="monte-pascoal hotel--img"></div>
				<span class="hotels-section--title">Hotel Monte Pascoal</span>
			</div>
			<div class="collumns small-6 medium-4 large-3 hotels-section--item">
				<div class="sol-express hotel--img"></div>
				<span class="hotels-section--title">Hotel Sol Express</span>
			</div>
			<div class="collumns small-6 medium-4 large-3 hotels-section--item">
				<div class="sol-express hotel--img"></div>
				<span class="hotels-section--title">Sol Victoria Marina</span>
			</div>
			<div class="collumns small-6 medium-4 large-3 hotels-section--item">
				<div class="grande-hotel hotel--img"></div>
				<span class="hotels-section--title">Grande Hotel Barra</span>
			</div>
			<div class="collumns small-6 medium-4 large-3 hotels-section--item">
				<div class="colonial-chile hotel--img"></div>
				<span class="hotels-section--title">Pousada Colonial Chile</span>
			</div>
			<div class="collumns small-6 medium-4 large-3 hotels-section--item">
				<div class="hospeda-salvador hotel--img"></div>
				<span class="hotels-section--title">Hostel Hospeda Salvador</span>
			</div>
			<div class="collumns small-6 medium-4 large-3 hotels-section--item">
				<div class="suites-pelo hotel--img"></div>
				<span class="hotels-section--title">Pousada Suítes do Pelô</span>
			</div>
			<div class="collumns small-6 medium-4 large-3 hotels-section--item">
				<div class="porto-barra hotel--img"></div>
				<span class="hotels-section--title">Hotel Porto da Barra</span>
			</div>
		</div>
	-->
	</section>		
	
	<section class="mission-row row">
		<div class="mission-objective collumns small-12">
			
			<h2 class="title-section yellow">Local do Evento</h2>
			<iframe id="maps" class="product-body--maps-frame"
				frameborder="0" style="border:0"
				src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAdi4vU2QNAh0TR18rrtVxWOwm0D_yS6qM&q=pestanaconventodocarmo+salvador" allowfullscreen>
			</iframe>
			<p class="mission-paragraph">
				<b>Pestana Convento do Carmo.</b> Rua do Carmo, 1. Santo Antônio - Salvador/BA
			</p>
		
		</div>

	</section>
			
	<div class="erika-footer">
		<div class="row align-center align-middle">
			<h2 class="columns small-12 large-3 title-section">Parceiros:</h2>
			<div class="columns small-12 large-9">
				<div class="row align-center align-middle">
					<div class="columns small-6 medium-4">
						<a target="_blank" href="http://www.setur.ba.gov.br/">
							<img class="apoio-img" src="img/setur.png"/>				
						</a>
					</div>
					<div class="columns small-6 medium-4">
						<a target="_blank" href="http://educacao.salvador.ba.gov.br/">
							<img class="apoio-img" src="img/secultSSA.jpg">				
						</a>
					</div>
					<div class="columns small-6 medium-4">
						<a target="_blank" href="http://pelourinhodiaenoite.salvador.ba.gov.br/">
							<img class="apoio-img" src="img/pelourinho.png"/>				
						</a>
					</div>
					<div class="columns small-6 medium-4">
						<a target="_blank" href="www.diariodoturismo.com.br">
							<img class="apoio-img" src="img/dt.jpg"/>				
						</a>
					</div>
					<div class="columns small-6 medium-4">
						<a target="_blank" href="https://www.luckreceptivo.com.br/">
							<img class="apoio-img" src="img/luck.png"/>				
						</a>
					</div>
					<div class="columns small-6 medium-4">
						<a target="_blank" href="https://www.tripadvisor.com.br/Attraction_Review-g303272-d10430693-Reviews-Fort_Beach_Tour-Salvador_State_of_Bahia.html">
							<img class="apoio-img" src="img/fortbeach.jpg"/>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="cbgtur-footer">
		<div class="row align-center align-middle">
			<h2 class="collumns small-12 title--cbgtur-footer">Realização</h2>

			<div class="columns small-6 medium-4">
				<a target="_blank" href="#">
					<img class="realizacao-img" src="img/singtur.jpg"/>				
				</a>
			</div>
			<div class="columns small-6 medium-4">
				<a target="_blank" href="#">
					<img class="realizacao-img" src="img/fenagtur.jpg">				
				</a>
			</div>
			<div class="columns small-6 medium-4">
				<a target="_blank" href="#">
					<img class="realizacao-img" src="img/sole.jpg"/>				
				</a>
			</div>
		</div>
		<p>CBGTUR 2019 - All rights Reserved</p>
	</footer>

	<div class="simple-modal simple-modal-visitas displayNone">
		<div class="simple-modal--dialog simple-modal--dialog--full-width fadeInDown animated">
			<div class="simple-modal--dialog--body">
		
			  <h3 class="simple-modal-visitas--title"></h3>

			  <div class="row visitas--content-modal">
				<div class="columns small-12 medium-6">
					<img class="modal-visitas--img" src="#">
				</div>  
				<div class="columns small-12 medium-6">
					<p class="simple-modal-visitas--dates"></p>
					<p class="simple-modal-visitas--orientations"></p>
				</div>  
			  </div>
			  <span class="hotels-section--title">Reserve esta visita enviando um e-mail para visitatecnica@cbgtur2019.com.br</span>
			  <div onclick="toogleModalVisitas()" class="full-calendar-box simple-modal__spacing pointer-object">					
				  <span><i class="animated fas fa-times-circle"></i>  Fechar</span>
			  </div>
			</div>
		</div>
	</div>

	<div class="simple-modal simple-modal-programacao displayNone">
		<div class="simple-modal--dialog simple-modal--dialog--full-width fadeInDown animated">
		  <div class="simple-modal--dialog--body">
	  
			<img src="img/cbgtur2.png">
	  
			<!--<p class=" ev-btn--span-below caption-text text--center pointer-object"
			 ng-click="ri.signupPrompt =false">Fechar</p>-->
	  
			<div onclick="toogleModal()" class="full-calendar-box simple-modal__spacing pointer-object">					
				<span><i class="animated fas fa-times-circle"></i>  Fechar</span>
			</div>
		  </div>
		</div>
	</div>

	<div class="simple-modal simple-modal-hotel displayNone">
		<div class="simple-modal--dialog simple-modal--dialog--full-width fadeInDown animated">
		  <div class="simple-modal--dialog--body">
	  
			<h3 class="simple-modal-hotel--title"></h3>
			<img class="modal-hotel--img" src="#">
			<!--<p class=" ev-btn--span-below caption-text text--center pointer-object"
			 ng-click="ri.signupPrompt =false">Fechar</p>-->
			 <a class="modal-hotel--href" href="#" target="_blank">						
				<span class="hotels-section--title">Acesse o Website</span>
			 </a>
			<div onclick="toogleModalHotel()" class="full-calendar-box simple-modal__spacing pointer-object">					
				<span><i class="animated fas fa-times-circle"></i>  Fechar</span>
			</div>
		  </div>
		</div>
	</div>

	</body>	
		
		
	<script src="js/jquery.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/script.js"></script>
</html>